    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Disrupting Music</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Ahora podrás ser el dueño de tu música favorita!!</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header>

    <!-- About -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Creamos el primer marketplace de la música emergente</h2>
            <p class="text-white-50">Descubre nuevos artistas, valora lo que hacen, se parte de ellos comprando los derechos de sus canciones y llega al éxito con ellos. 
              <a href="#">ejemplo de plataforma<!--aquí va un video--></a>. Sigue a tus músicos favoritos, las canciones que compraste, comparte lo que te gusta con amigos y se el mayor fan de tu artista... se parte de ellos!.</p>
          </div>
        </div>
        <img src="<%= asset_path 'ipad.png' %>" class="img-fluid" alt="">
      </div>
    </section>

    <!-- Projects  -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="<%= asset_path 'bg-masthead.jpg' %> alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Cómo funciona Talisman</h4>
              <p class="text-black-50 mb-0">Si eres músico, crea una cuenta, sube tus canciones y vende derechos de tus obras con quienes adoran tu música. Si quieres ser parte del desarrollo de un artista compra sus derechos y si tienes éxito recibirás royalties por los ingresos que generan las canciones que compras. !</p>
            </div>
          </div>
        </div>

        <!-- Project Music -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= asset_path 'imagemusic1.jpg' %>" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Soy Músico</h4>
                  <p class="mb-0 text-white-50">Soy músico y quiero compartir mis canciones para desarrollar mi carrrera.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Fan -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= asset_path 'imagefans1.jpg' %>" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Soy Fan</h4>
                  <p class="mb-0 text-white-50">Quiero ser dueño de la música que me gusta y ser parte del desarrollo mis artistas favoritos! </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- newsletter  -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscríbete y recibe las novedades de Talisman Music!</h2>

            <form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscríbete</button>
            </form>

          </div>
        </div>
      </div>
    </section>

    <!-- Contact  -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50">Santiago - Londres - Nueva York</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">contacto@tlsmn.com</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">+(56) 9 9 442 3852</div>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="#" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Tallisman Music - 2018
      </div>
    </footer>

    <!-- Bootstrap core JavaScript 
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

    <!-- Plugin JavaScript 
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

    <!-- Custom scripts for this template 
    <script src="js/grayscale.min.js"></script>-->

